.link {
  display: inline-block;
  text-decoration: none;
  padding: 12px;
  font-weight: 700;
  color: #2a363b;
}

.link.active {
  color: #e84a5f;
}
.link:hover{
  color: #3f41b5;
}
 @media screen and (max-width: 560px) {
   .nav {
    display: flex;
    flex-direction: column;
     font-size: 14px;

   }
     .link {

       text-decoration: none;
       padding: 6px;
       font-weight: 500;
       color: #2a363b;
     }
 }
