.form {
  width: 320px;
  /* display: flex;
    flex-direction: column;
    gap: 4px;
    margin-bottom: 12px; */
}

.label {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;

}

.button {
  border: none;
  font: inherit;
  cursor: pointer;
  outline: none;
  margin-right: auto;
  border-radius: 4px;
  padding: 6px 10px;
  border: 1px solid #3f41b5;
  background-color: #fff;
  color: #3f41b5;
}

.button:hover,
.button:focus {
  background-color: #3f51b5;
  color: #fff;
  border: 1px solid #3f41b5;
}
